//core
//-----------------------------
footer {
  .fa {
    color: $color-global-grey;
    font-size: 26px;
    padding: 0 5px;
    @include transition-with-defaults(color);
    &:hover {
      color: $color-global-black;
    }
  }
}


//footer top
//-----------------------------
#footer-tagline {
  color: $color-global-dark-grey;
  margin: 40px 0 10px 0;
  font-size: 35px;
  font-family: $font-georgia;
  font-weight: bold;
  font-style: italic;
  @include desktop {
    margin: 50px 0 10px 0;
  }
}

#footer-social-accounts {
  margin: 20px 0 40px 0;
  @include desktop {
    margin-bottom: 70px;
  }
}

.footer-tagline-social {
  color: $color-global-dark-grey;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  font-family: $font-georgia;
}


//footer bottom
//-----------------------------
#footer-menu-container {
  background: $color-footer-background;
  padding: 25px 10px 20px 10px;
  text-align: center;
  @include tablet-up {
    padding: 25px 0 20px 0;
    text-align: left;
  }
}

#footer-trademark {
  color: $color-global-grey;
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
  font-family: $font-georgia;
  font-style: italic;
}

.footer-menu-title {
  font-size: 15px;
  font-family: $font-open-sans-bold;
  margin: 15px 0 0 0;
  color: $color-global-dark-grey;
  @include tablet-up{
    margin: 0;
  }
}

.standard-menu-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    color: $color-global-dark-grey;
    font-size: 15px;
    &:hover {
      color: lighten($color-global-dark-grey, 20%);
    }
  }
}

.social-icon-container {
  @include mobile {
    margin-top: 15px;
  }
}