footer {
  .fa {
    color: $color-global-grey;
    font-size: 26px;
    padding: 0 5px;
    @include transition-with-defaults(color);
    &:hover {
      color: $color-global-black;
    }
  }
}

#footer-tagline {
  color: $color-global-grey;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
  @extend .f--georgia;
}

#footer-trademark {
  color: $color-global-grey;
  font-size: 12px;
  margin-bottom: 0;
}

#menu-footer {
  width: 100%;
  margin: 0;
  li {
    padding: 0 10px;
    line-height: 14px;
    width: 50%;
    &:first-child{
      text-align: right;
      border-right: 1px solid $color-global-grey;
    }
    &:last-child {
      text-align: left;
      border-left: 1px solid $color-global-grey;
    }
  }
  a {
    vertical-align: bottom;
    color: $color-global-grey;
    font-size: 12px;
    &:hover {
      color: $color-global-black;
    }
  }
}