$logo-width: 410px;

header {
  margin-bottom: 25px;
  .i--icon-logo {
    width: $logo-width;
    height: 100px;
    margin: auto;
    max-width: 100%;
  }
}

#menu-header-secondary {
  li {
    padding: 0 10px;
    &:not(:last-child){
      border-right: 2px solid $color-global-grey;
    }
  }
  a {
    color: $color-global-grey;
    text-transform: uppercase;
    font-size: 15px;
    &:hover {
      color: $color-global-black;
    }
  }
}

#logo-tagline-border {
  border-top: 2px dotted $color-global-grey;
  width: $logo-width;
  height: 2px;
  display: block;
  margin: auto;
  max-width: 100%;
}

#logo-tagline {
  color: $color-global-grey;
  margin: 10px auto;
  max-width: $logo-width;
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  @extend .f--georgia;
}