#transactions-thank-you-outer-border.thank-you-border

  #transactions-thank-you-inner-border.thank-you-border

    #transactions-thank-you-content
      %h1
        Thank you,

      %p
        Your order is being processed!

      %p
        You will receive a payment confirmation and a tracking number of your purchase shortly.
        %br
        The item will be delivered in 5-8 business days.

      %p
        Questions? Contact us
        %a{href: "mailto:hello@eivey.ca"}
          hello@eivey.ca

      = link_to "View More Items For Sale", url_for(:controller => "landing_page", :action => "index"), class: "button green"
   
