#transactions-thank-you-outer-border.thank-you-border

  #transactions-thank-you-inner-border.thank-you-border

    #transactions-thank-you-content
      %h1
        Thank you,

      %p
        Your order has been completed!

      %p
        You will receive a tracking number per e-mail shortly,
        your package will be delivered in 5-8 business days.

      %p
        Questions? Contact us
        %a{href: "mailto:hello@eivey.ca"}
          hello@eivey.ca

      %a.button.green{href: "/shop"}
        View More Items For Sale