header {
  .i--icon-logo {
    width: 410px;
    height: 100px;
    margin: auto;
    max-width: 100%;
  }
}

#menu-header-secondary {
  li {
    padding: 0 10px;
    &:not(:last-child){
      border-right: 2px solid $color-global-grey;
    }
  }
  a {
    color: $color-global-grey;
    text-transform: uppercase;
    font-size: 15px;
    @extend .f--open-sans;
    &:hover {
      color: $color-global-black;
    }
  }
}