.custom-filter-checkbox-container {
  padding: 0 5px;
  margin-top: 5px;
  &:first-child {
    margin-top: 10px;
  }
}

#grid-color-filter-container {
  .custom-filter-checkbox-container {
    float: left;
    margin-top: 10px;
  }
  input {
    display: none;
  }
}

.color-filter-container {
  height: 30px;
  width: 30px;
  border: 3px solid transparent;
  margin: 0;
  @include transition-with-defaults(border);
  &:hover {
    border-color: $color-grid-grey;
  }
}

input[type=checkbox]:checked + .color-filter-container {
  border-color: $color-grid-grey;
}

.color-filter {
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  &.white {
    background-color: $color-filter-white;
    border: 1px solid $color-filter-grey;
  }
  &.grey {
    background-color: $color-filter-grey;
  }
  &.black {
    background-color: $color-filter-black;
  }
  &.yellow {
    background-color: $color-filter-yellow;
  }
  &.orange {
    background-color: $color-filter-orange;
  }
  &.red {
    background-color: $color-filter-red;
  }
  &.pink {
    background-color: $color-filter-pink;
  }
  &.purple {
    background-color: $color-filter-purple;
  }
  &.blue {
    background-color: $color-filter-blue;
  }
  &.green {
    background-color: $color-filter-green;
  }
  &.brown {
    background-color: $color-filter-brown;
  }
}

.product-grid-filter{
  font-size: 14px;
  text-transform: uppercase;
  color: $color-global-grey!important;
  font-weight: 200;
}