/*
Try to utilize variables as much as possible.  It's one of the best things about a CSS preprocessor like Sass and it makes updates much easier
*/

//primary colors
$color-global-black: #111111;
$color-global-white: #FFFFFF;
$color-global-grey: #939598;

//secondary colors
$color-global-red: #ff8e7b;
$color-global-yellow: #dfb95a;
$color-global-brown: #ebe1cf;
$color-global-green: #bcdbd3;
$color-global-blue: #00284c;
$color-global-light-grey: #e1dddb;
$color-global-dark-grey: #77787b;

//footer
$color-footer-background: #f1f2f2;

//product grid
$color-grid-grey: #c9cacb;

//product grid filters
$color-filter-white: $color-global-white;
$color-filter-grey: #939598;
$color-filter-black: #000000;
$color-filter-yellow: #fff200;
$color-filter-orange: #d88829;
$color-filter-red: #d2232a;
$color-filter-pink: #ec008c;
$color-filter-purple: #7e3f8d;
$color-filter-blue: #23408f;
$color-filter-green: #008b4b;
$color-filter-brown: #9d5a45;