/*
Try to utilize variables as much as possible.  It's one of the best things about a CSS preprocessor like Sass and it makes updates much easier
*/

//primary colors
$color-global-black: #111111;
$color-global-white: #FFFFFF;
$color-global-grey: #939598;

//secondary colors
$color-global-red: #ff8e7b;
$color-global-yellow: #dfb95a;
$color-global-brown: #ebe1cf;
$color-global-green: #bcdbd3;
$color-global-blue: #00284c;
$color-global-light-grey: #e1dddb;
$color-global-dark-grey: #77787b;

//footer
$color-footer-background: #f1f2f2;

//product grid
$color-grid-grey: #c9cacb;
$color-size-filter-grey: #e6e7e8;

//product grid filters
$color-filter-white: $color-global-white;
$color-filter-grey: #A7A9AC;
$color-filter-black: #000000;
$color-filter-yellow: #fff200;
$color-filter-orange: #F7941D;
$color-filter-red: #ED1C24;
$color-filter-pink: #EE4097;
$color-filter-purple: #7F3F98;
$color-filter-blue: #72CEFF;
$color-filter-light-green: #A7E66A;
$color-filter-green: #00693D;
$color-filter-brown: #7D4900;

//sharetribe imports
$color-sharetribe-grey: #c3c3c3;
$color-sharetribe-green: #abcdc6;
$color-sharetribe-dark-grey: #636466;