/*
Try to utilize variables as much as possible.  It's one of the best things about a CSS preprocessor like Sass and it makes updates much easier
*/

//primary colors
$color-global-black: #111111;
$color-global-white: #FFFFFF;
$color-global-grey: #939598;

//secondary colors
$color-global-red: #ff8e7b;
$color-global-yellow: #dfb95a;
$color-global-brown: #ebe1cf;
$color-global-green: #bcdbd3;
$color-global-blue: #00284c;
$color-global-light-grey: #e1dddb;

//grid
$color-grid-grey: #c9cacb;

//footer
$color-footer-background: #f1f2f2;
$color-footer-text: #77787b;