//category menu
//-----------------------------
#menu-categories {
  & > li {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}


//search
//-----------------------------
.sharetribe-search {
  .search-form-input-container {
    padding-right: 10px;
    margin-top: 40px;
  }
  #q {
    border: 2px solid $color-sharetribe-grey;
  }
  .search-form-submit {
    right: 20px;
  }
}