//category menu
//-----------------------------
#menu-categories {
  & > li {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}


//search
//-----------------------------
.sharetribe-search {
  .search-form-input-container {
    margin-top: 40px;
  }
  #q {
    border: 2px solid $color-sharetribe-grey;
  }
  .search-form-submit {
    right: 10px;
  }
}


//user menu
//-----------------------------
.header-user-avatar {
  height: 2.5em;
  vertical-align: middle;
}

#header-menu-user-container {
  padding-top: 35px;
}

#desktop-user-menu {
  margin: 5px 5px 0 10px;
}

#desktop-user-menu-name {
  &:after {
    content: '\f0d7';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}


//sell button
//-----------------------------
#header-menu-container {
  display: block;
  padding: 0 0.75em;
  width: 175px;
  float: right;
  margin-top: 7px;
}