//sidebar
//-----------------------------
#pdp-payment-icons {
  .fa {
    font-size: 2em!important;
    padding: 5px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

#payment-help {
  font-size:12px;
  padding-left: 0;
}

#listing-author-contact-button {
  font-size: 16px;
  @include button($color-sharetribe-green);
}

#book-button {
  @include big-button($color-sharetribe-green);
}

.listing-price {
  margin-top: 50px;
}

.listing-price-amount {
  color: $color-sharetribe-dark-grey;
  font-size: 55px;
  font-family: $font-georgia;
}

#listing-author-link {
  font-family: $font-georgia;
  font-style: italic;
  font-size: 30px;
}

//main content
//-----------------------------
