//grid items
//-----------------------------
.home-fluid-thumbnail-grid-item, .people-fluid-thumbnail-grid-item {
  //custom breakpoints to match sharetribe styling
  @media (max-width: 37.4em) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
  @media (min-width: 37.5em) {
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}

.fluid-thumbnail-grid-border{
  border: 1px solid $color-grid-grey;
  padding: 5px;
  @include transition-with-defaults(border-color);
  &:hover {
    border-color: $color-global-black;
  }
}

.fluid-thumbnail-grid-image-details {
  text-align: center;
  color: $color-global-black;

  .fluid-thumbnail-grid-image-title {
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
  }
}

.fluid-thumbnail-grid-image-price {
  font-family: $font-open-sans;
  font-weight: 600;
}

.fluid-thumbnail-grid-image-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.fluid-thumbnail-grid-image-title {
  color: $color-global-black;
  line-height: 1.2em;
  padding-top: 10px;
}

.fluid-thumbnail-grid-image-image {
  height: 200px;
  margin: auto;
  display: block;
}


//filters
//-----------------------------
#category-filter-title {
  margin-bottom: 10px;
}

.custom-filter-checkbox-container {
  padding: 0 5px;
  margin-top: 5px;
  &:first-child {
    margin-top: 10px;
  }
}

#grid-color-filter-container, #grid-size-filter-container {
  .custom-filter-checkbox-container {
    float: left;
  }
  input {
    display: none;
  }
}

#grid-color-filter-container {
  .custom-filter-checkbox-container {
    margin-top: 10px;
  }
}

#grid-size-filter-container {
  .custom-filter-checkbox-container {
    margin-top: 5px;
  }
}

.color-filter-container {
  height: 30px;
  width: 30px;
  border: 3px solid transparent;
  margin: 0;
  @include transition-with-defaults(border);
  &:hover {
    border-color: $color-grid-grey;
  }
}

input[type=checkbox]:checked + .color-filter-container, input[type=checkbox]:checked + .size-filter-container {
  border-color: $color-grid-grey;
}

.color-filter {
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  &.white {
    background-color: $color-filter-white;
    border: 1px solid $color-filter-grey;
  }
  &.grey {
    background-color: $color-filter-grey;
  }
  &.black {
    background-color: $color-filter-black;
  }
  &.yellow {
    background-color: $color-filter-yellow;
  }
  &.orange {
    background-color: $color-filter-orange;
  }
  &.red {
    background-color: $color-filter-red;
  }
  &.pink {
    background-color: $color-filter-pink;
  }
  &.purple {
    background-color: $color-filter-purple;
  }
  &.blue {
    background-color: $color-filter-blue;
  }
  &.green {
    background-color: $color-filter-green;
  }
  &.brown {
    background-color: $color-filter-brown;
  }
}

.size-filter-container {
  height: 30px;
  width: 46px;
  border: 3px solid transparent;
  margin: 0;
  @include transition-with-defaults(border);
  &:hover {
    border-color: $color-grid-grey;
  }
}

.size-filter {
  height: 24px;
  width: 40px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: $color-size-filter-grey;
  font-size: 15px;
  line-height: 1.5;
}

.product-grid-filter{
  font-size: 14px;
  text-transform: uppercase;
  color: $color-global-grey!important;
  font-weight: 200;
}