//buttons
//-----------------------------
.profile-edit-link, .profile-contact-link, .follow-button {
  @include button($color-sharetribe-green);
}

.follow-button {
  margin-top: 10px;
  &.unfollow:hover:not(.button-disable-hover) {
    background: red;
    color: white;
  }
}


//description
//-----------------------------
#profile-description {
  p {
    font-family: $font-open-sans;
    font-size: 16px;
    margin: 10px 0;
    padding: 0;
    max-width: 100%;
    color: $color-sharetribe-dark-grey;
  }
}


//headers
//-----------------------------
.people-header {
  padding-bottom: lines(0.25);
  color: $color-sharetribe-dark-grey;
}

//mobile user menu
//-----------------------------
.left-navi-dropdown.hidden-tablet:after {
  content: '\f0d7';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin:0 0 0 10px;
  text-decoration:none;
}