%footer#footer-menu-container
  %nav.grid-container
    .small-12.medium-3
      %h4.footer-menu-title
        Support
      %ul.standard-menu-footer
        %li
          %a{:href => "/frequently-asked-questions", :target =>"blank"} Frequently Asked Questions
        %li
          %a{:href => "/contact", :target =>"blank"} Contact Us
        %li
          %a{:href => "/events", :target =>"blank"} Events
    .small-12.medium-3
      %ul.standard-menu-footer
        %li
          %a{:href => "/selling", :target =>"blank"} Selling
        %li
          %a{:href => "/buying", :target =>"blank"} Buying
        %li
          %a{:href => "/terms-conditions", :target =>"blank"} Terms &amp; Conditions
        %li
          %a{:href => "/privacy-policy", :target =>"blank"} Privacy Policy
    .small-12.medium-3
      %h4.footer-menu-title
        Company
      %ul.standard-menu-footer
        %li
          %a{:href => "/about", :target =>"blank"} About Us
        %li
          %a{:href => "/blog", :target =>"blank"} Blog
    .small-12.medium-3.grid-end
      %a.social-icon{:href => "https://www.facebook.com/eiveydotca", :target =>"blank"}
        %i.fa.fa-facebook{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://www.instagram.com/eiveydotca/" , :target =>"blank"}
        %i.fa.fa-instagram{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://twitter.com/eiveydotca" ,:target =>"blank"}
        %i.fa.fa-twitter{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://www.pinterest.com/eiveydotca/", :target =>"blank"}
        %i.fa.fa-pinterest{"aria-hidden" => "true"}
  %h5#footer-trademark.grid-container
    &copy;
    = Time.now.year
    EIVEY.  All rights reserved, EIVEY
    %sup
      &copy;
    is a registered trademark of Eivey

%script{:type => :"text/javascript", :src => "http://dev.eivey.com/frontend/build/app.sharetribe.min.js"}
