%footer.eivey-footer
  .row
    .support.row.col-5
      %strong.footer-support Support
      %br/
      .col-8.row
        %a{:href => "", :target =>"blank"} Frequently Asked Questions
        %br/
        %a{:href => "", :target =>"blank"} Contact Us
        %br/
        %a{:href => "", :target =>"blank"} Events
      .col-4.row
        %a{:href => "", :target =>"blank"} Selling
        %br/
        %a{:href => "", :target =>"blank"} Buying
        %br/
        %a{:href => "", :target =>"blank"} Shipping
    %div.col-2.row.company
      %strong.footer-company Company
      %br/
      %a{:href => "", :target =>"blank"} About Us
      %br/
      %a{:href => "", :target =>"blank"} Terms of Use
      %br/
      %a{:href => "", :target =>"blank"} Privacy Policy
      %br/
      %a{:href => "", :target =>"blank"} Blog
    .col-5.row.social
      %a.social-icon{:href => "https://www.facebook.com/eiveydotca", :target =>"blank"}
        %i.fa.fa-facebook{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://www.instagram.com/eiveydotca/" , :target =>"blank"}
        %i.fa.fa-instagram{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://twitter.com/eiveydotca" ,:target =>"blank"}
        %i.fa.fa-twitter{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://www.pinterest.com/eiveydotca/", :target =>"blank"}
        %i.fa.fa-pinterest{"aria-hidden" => "true"}
      %br/
    %div.row.col-12.copyrightblurb
      %p
      © 2016 EIVEY, All rights reserved, EIVEY
      %sup ©
      is a registered trademark of Eivey
