%footer.eivey-footer
  .row
    .support.row.col-5
      %strong.footer-support Support
      %br/
      .col-8.row
        %a{:href => "/frequently-asked-questions", :target =>"blank"} Frequently Asked Questions
        %br/
        %a{:href => "/contact", :target =>"blank"} Contact Us
        %br/
        %a{:href => "/events", :target =>"blank"} Events
      .col-4.row
        %a{:href => "/selling", :target =>"blank"} Selling
        %br/
        %a{:href => "/buying", :target =>"blank"} Buying
        %br/
        %a{:href => "/shipping", :target =>"blank"} Shipping
    %div.col-2.row.company
      %strong.footer-company Company
      %br/
      %a{:href => "/about", :target =>"blank"} About Us
      %br/
      %a{:href => "/terms-conditions", :target =>"blank"} Terms of Use
      %br/
      %a{:href => "/privacy-policy", :target =>"blank"} Privacy Policy
      %br/
      %a{:href => "/blog", :target =>"blank"} Blog
    .col-5.row.social
      %a.social-icon{:href => "https://www.facebook.com/eiveydotca", :target =>"blank"}
        %i.fa.fa-facebook{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://www.instagram.com/eiveydotca/" , :target =>"blank"}
        %i.fa.fa-instagram{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://twitter.com/eiveydotca" ,:target =>"blank"}
        %i.fa.fa-twitter{"aria-hidden" => "true"}
      %a.social-icon{:href => "https://www.pinterest.com/eiveydotca/", :target =>"blank"}
        %i.fa.fa-pinterest{"aria-hidden" => "true"}
      %br/
    %div.row.col-12.copyrightblurb
      %p
      &copy;
      = Time.now.year
      EIVEY, All rights reserved, EIVEY
      %sup
        &copy;
      is a registered trademark of Eivey
