%footer
.grid-container
  .support.small-12.large-6.grid-container
    %h2 Support
    .small-12.large-3.row
      %a{:href => ""} Frequently Asked Questions
      %a{:href => ""} Contact Us
      %a{:href => ""} Events
    .small-12.large-3.row
      %a{:href => ""} Selling
      %a{:href => ""} Buying
      %a{:href => ""} Shipping
  %div
    %h2 Company
    .small-12.large-3.row.company
      %a{:href => ""} About Us
      %a{:href => ""} Terms of Use
      %a{:href => ""} Privacy Policy
      %a{:href => ""} Blog
  .small-12.large-3.row.social
    %a{:href => "https://www.facebook.com/eiveydotca"}
      %img{:alt => "Facebook", :height => "42", :src => "", :width => "42"}/
    %a{:href => "https://www.instagram.com/eiveydotca/"}
      %img{:alt => "Instagram", :height => "42", :src => "", :width => "42"}/
    %a{:href => "https://twitter.com/eiveydotca"}
      %img{:alt => "Twitter", :height => "42", :src => "", :width => "42"}/
    %a{:href => "https://www.pinterest.com/eiveydotca/"}
      %img{:alt => "Pinterest", :height => "42", :src => "", :width => "42"}/