@import "mixins/all";

.button-hoverable {
  .content.hover-content {
    display: none;
  }
}

.button-hoverable:hover:not(.button-disable-hover) {
  .content.default-content {
    display: none;
  }
  .content.hover-content {
    display: table-cell;
  }
}

.follow-button {
  @include big-button(#abcdc6);
  width: 100%;
  color:white;
  background-color: #abcdc6;

  &.unfollow:hover:not(.button-disable-hover) {
    background: $red;
    color: white;
  }

}

.disabled-button {
  &, &:hover {
    background-color: $border;
  }
}