@import "mixins/all";

.truncated-link {
  display: inline-block;
  max-width: em(350);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

small {
  @include small-type;
  display: block;
}

h1, h3 {
  -webkit-font-smoothing: antialiased;
}