- question = custom_field_value.question
- question_name = question.name(I18n.locale)
- answer_title = custom_field_value.selected_options.map { |selected_option| selected_option.title(I18n.locale) }.join(", ")
%b= "#{question_name}:"
- previous_option = false
- previous_option_value = nil
- ArrayUtils.each_slice_columns(question.options.sort, 3) do |column|
  - column.each do |option|
    - selected = custom_field_value.selected_options.include?(option)
    - if selected
      - if previous_option
        = previous_option_value+", "
      - else
        - previous_option = true
      - previous_option_value = option.title(I18n.locale)
= previous_option_value