- displayed_people = followed_people.take(limit)
.row.standard-title-container
  %h2.standard-title
    Following
- if followed_people.count > 0
  .people-fluid-thumbnail-grid-container
    .people-fluid-thumbnail-grid#profile-followed-people-list
      = render :partial => "people/followed_person", :collection => displayed_people, :as => :person

  - if followed_people.count > limit
    .people-load-more-listings-container
      #load-more-followed-people
        = link_to t(".show_all_followed_people"), [ person, :followed_people ], :remote => true, :rel => "nofollow"
- else
  %h4
    None Yet