%p
EIVEY USER AGREEMENT

1. How this agreement works.

1.1 Introduction. Welcome to the EIVEY online buying and selling community (the “Site”). This User Agreement (“Agreement”) lists the terms of the agreement between you and EIVEY for the buying & selling of products and all other services that we provide (the “Services”). By completing the registration process, you agree to accept the terms and conditions of this Agreement and to become a registered user of this site.

1.2 Modification. If we change this Agreement, we shall post a revised version of this Agreement here, which shall automatically replace the terms of this Agreement. Your continued use of the Site and the Services following EIVEY posting a revised Agreement will constitute your acceptance of the revised Agreement. If you do not agree with the terms of this Agreement or any revised version of this Agreement, should not continue to use the Services or this Site.

1.3 Additional Policies. This Agreement incorporates by reference the following policies and documents also found on this site:
– Privacy Policy



2. Who we are and what we do.

2.1 EIVEY is a website service that allows registered users who want to buy products (“Buyers”) to find products to purchase from registered users who want to sell products (“Sellers”). The fulfillment of confirmed orders, including delivery and shipment of products is the responsibility of the Seller.



3. How to become a registered user.

3.1 Requirements. To be a registered user of this Site, you must agree to accept the terms and conditions of this Agreement. You may only use the Services if you are able to form legally binding contracts, are over the age of 16, and are not temporarily or indefinitely suspended from our Site. If you do not qualify, please do not use or try to use the Services. If you are under the age of 16, you may only use this site in conjunction with and under the supervision of your parents or guardians.

3.2 Registration. We will not accept any request from you to buy or sell products before you have registered with us. To register, you must sign-up with your name and e-mail address.

3.3 Email Address and Password. You will need an email address and password to access the Site and use the Services. You are solely responsible for maintaining the security of your email address and password and for all activity that occurs under your email address and password. You should not disclose your password to any other person.



4. Listing Products as a Seller.

4.1 Listing Process. A registered user who wants to sell products may list the product(s) in the EIVEY marketplace. As part of the listing process, the seller assigns a price to the product(s) and provides information such as the price listing, the category of the product, the title of the product, description of the product, photos of the product, size, amount that was paid for the product (optional)  in accordance with the process outlined in when selling products.

4.2 Filling out the product listing form;
Liability: it is the sellers responsibility to fill out the form accurately.  The Dimensions and Weight of the product are required to be accurate, if they are incorrect, this could result in an undelivered package.  It will be at the sellers cost to reship the package with the corrected dimensions or weight.

4.3 Plagiarism, Copy Writing Infringement:
When posting photos of your product, photos must be owned.

4.4 All items posted for sale have an automatic expiration of 6 months after sale.  4.5 Fixed Price Formats. A Seller who wants to sell a product may sell such product in the format of a fixed price.  - Fixed Price: the Seller sets a definite price at which the product(s) will sell immediately when a buyer places an order for the product(s).

Fees and Services.  We charge fees for using EIVEY, covered in the selling price of the item. All our products and fees are quoted in Canadian Dollars.

EIVEY charges 25% transaction fee for retail prices of $50 – $1499 or a $15 minimum.
EIVEY charges 15% transaction fee for retail prices over $1500

This fee includes the Pay Pal, Credit Card or Debit transaction fee and insurance, free shipping and a free standard mailing bubble mailer with shipping label. This fee is included in the purchase price and will automatically come out of the sale.
We will notify you of changes to our fee policy by posting such changes on the site. We may choose to temporarily change our fees for promotional events or new services; these changes are effective when we announce the promotional event or new service. Our fees are non-refundable.

4.5 Shipping: It is a sellers responsibility to ship item to buyer. Additional Canada Post pick up scheduling is possible. please call 1-800- Canada Post for more information on how to schedule a pick up.
4.6 Seller Responsibility. Once there is a purchase of a product from a buyer, Seller is responsible for fulfilling the order with the exact product(s) that the Seller listed. If the Seller no longer has the product(s) or the Seller becomes aware that the product(s) has become damaged since the product’s posting, the Seller must immediately inform EIVEY at info@EIVEY.ca and the Buyer will be refunded the amount.



5.Finding Products and placing orders as a Buyer.

5.1 Placing Orders . To buy products, a buyer first browses the EIVEY listings for products that match what the Buyer is seeking. When the buyer finds desirable product(s), the Buyer places an “order” to purchase that (those) product(s). All orders are final and once placed, cannot be cancelled or retracted. Placing an order does not complete the sale. Buyers have 14 days to receive an order and confirm delivery. The average delivery time should be between 5-7 business days.

5.2 EIVEY will hold the money in an escrow account until either the buyer confirms receipt of the product, or, after 15 days if buyer has not confirmed or disputed the delivery of the item to EIVEY. Once delivery has been confirmed by buyer, or 15 days has passed since purchase and Canada Post confirms delivery, the money will released and paid to the Seller.

5.3 Disclaimers and Limitations of Liability. The EIVEY Services are provided “as is” and “as available”. You agree not to hold us responsible for things other users post or do. As most of the stuff on the EIVEY Services comes from other users, we do not guarantee the accuracy of postings or user communications or the quality, safety, or legality of what is offered. We also cannot guarantee continuous or secure access to our Services. Notification functionality in our Services may not occur in real time. Such functionality is subject to delays beyond our control, including without limitation, delays or latency due to your physical location or your wireless data service provider’s network. Accordingly, to the extent legally permitted we expressly disclaim all warranties, representations and conditions, express or implied, including those of quality, merchantability, merchantable quality, durability, fitness for a particular purpose and those arising by statute. We are not liable for any loss, whether of money (including profit), goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of EIVEY, even if you advise us or we could reasonably foresee the possibility of any such damage occurring. Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and exclusions may not apply to you.
6. Notifying the Seller of the order.

6.1 Notification. Once we obtain an authorization from a Buyer, we notify the Seller of the sale via email, that a Buyer has purchased the listed product(s) at the listed price. At this time, EIVEY reserves the right to cancel any order that it identifies as fraudulent.

6.2 Seller’s Confirmation. If the Seller cannot ship the product(s) immediately upon confirming an order, the Seller must, when confirming the order, provide the date the Seller expects to be able to ship the product(s) to the Buyer. If the expected shipping date changes, it is the Seller’s responsibility to contact EIVEY in advance and provide a new expected shipping date.



7. Completing the Sale.

7.1 Charges. Once the Seller confirms the order, we charge the Buyer’s account for the total sale price. The charge is paid to us, and the Seller is compensated for the sale according to the payment policy. Sellers can see the exact amount of the fees that we will be collecting before completing the listing process and committing to list their product(s) for sale.

7.2 Dispute Resolution. If a Buyer does not receive the item within 15 days of placing the order, it is the buyers responsibility to contact Eivey at info@eivey.ca. If Eivey is not contacted within 15 days the funds (payment) will be released to Seller.  EIvey Inc does not offer any Refunds or Returns.



8. Your relationship with us.

8.1 Permission. As a Buyer, you grant EIVEY permission to charge your account for the purchase of the product(s).

8.2 Grant of License. You grant EIVEY a perpetual, non-exclusive, transferable, worldwide, irrevocable, royalty-free right to exercise publicity, database, trademark and copyright rights, including the right to reproduce, modify, adapt, publish and display on the Site and on the sites of our partners and affiliated companies, any content you may provide to EIVEY in connection with your use of EIVEY and its Services. You agree that EIVEY shall be permitted to use your name or user ID, home city and other ancillary information (for example, the number of years you have been a EIVEY user) in connection with the content in conjunction with EIVEY marketing, promotion and publicity efforts in any media known now or in the future.

8.3 Release. EIVEY acts as a marketplace to allow buyers and sellers to interact regarding products. In all cases, the submission and confirmation of orders are transactions between EIVEY, Buyers and Sellers only. The fulfillment of confirmed orders, including delivery and shipment of products is the responsibility of the Seller. If you have a dispute with one or more registered users, you release EIVEY and all affiliated companies, officers, directors, agents, parents, subsidiaries, legal representatives and employees free from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such dispute.

8.4 Privacy. We use your information only as described in the EIVEY Privacy Policy. If you object to your information being transferred or used in this way please do not use our services.



9. Things we don’t allow.

9.1 Offline Transactions. EIVEY is not responsible for any damages or lost profits that result from EIVEY users directly contacting other EIVEY users or for any damages or lost profits resulting from transactions conducted outside of EIVEY, including transactions that originate at EIVEY and are taken offline.

9.2 Personal Information in Product Description and Seller Comments. As a Seller, you agree not to place any personal information (including, but not limited to, addresses, phone numbers, or email addresses) in the Product Description and Seller comments area of product listings.

9.3 Abusive Behaviour. You agree not to use abusive language or behave in an abusive manner to any EIVEY employee or customer. EIVEY reserves the right to block and/or ban users which are deemed abusive.

9.4 Adult Materials. You agree not to list, sell or buy any adult materials, obscene materials or pornographic materials through the Site, directly or indirectly, and you agree not to use any names or other information found on or via this Site to do so.

9.5 Illegal Activity. You agree not to use this Site for unlawful purposes or in an unlawful manner. You agree to comply with all applicable local, federal and international laws, statutes and regulations regarding the use of the Site and the selling of products. You agree not to use or permit anyone to use information provided through the Site for any unlawful or unauthorized purpose. You agree not to register under a false name, or give any misleading information. You agree not to copy, modify, or distribute any content from the Site, including EIVEY copyrights and trademarks.

9.6 Double Posting and Removal of Products. To post a product for sale on the Site, you must first register with the Site. Once a product is posted, we strongly discourage posting that product for sale elsewhere. We reserve the right to prohibit users from posting product(s) at EIVEY if they are not able to provide the exact product that was posted at EIVEY. If you, at any time, fail to deliver the product(s) you’ve listed or deliver invalid, fraudulent, or misrepresented product(s), EIVEY reserves the right to cancel the order .

9.7 Stolen Property. The sale of stolen property on EIVEY is strictly forbidden, and violates federal and international law. EIVEY strongly supports law enforcement efforts to recover stolen property that is listed on the Site, and urges the prosecution of those responsible for knowingly attempting to sell such items on EIVEY. Stolen property includes items taken from private individuals, as well as property taken without authorization from companies or governments.

9.8 Promotional Materials. The Buyer name and address information is provided to Sellers for the sole purpose of shipping the specific purchased product(s) and may not be used by the Seller for any other purpose, either in connection with such shipment(s) or separately from such shipment(s). If you are a Seller, you agree not to include in your shipment to the buyer any promotional or other commercial materials that is not provided or approved by EIVEY. This includes, without limitation, material that announces a website or invites the buyer to visit a website other than EIVEY, catalogs, business cards, business reply cards, bookmarks, coupons, flyers, solicitations or other marketing or advertising material. You agree not to separately contact the buyer at any time for any reason.



10. Consequences.

10.1 Investigations. We may investigate complaints and violations of our policies. You agree to cooperate fully with such investigations, including without limitation, providing us specific information regarding your right to a product, the source of the product, your acquisition of a product, and the price you paid for a product.

10.2 Violations, Termination and Suspension. We may take any action that we deem appropriate in our sole discretion (including without limitation issuing a warning, suspending or terminating service, denying access, removing a listing or recommending you edit a listing) if: (a) you breach this Agreement or any document it incorporates by reference; (b) you are unwilling to cooperate with our investigation of a complaint or reported violation; (c) we are unable to verify or authenticate any information you provide; or (d) we believe your conduct may cause legal liability for you, for other users, or for EIVEY. You agree that payments owing to you for sales made through this Site may be suspended or delayed pending our investigation. EIVEY is not obligated to pay you for any sales if we have a good faith basis to believe such sales were unlawful or otherwise made in material violation of this agreement.

10.3 Disclosure of Information. You agree that EIVEY may report any activity that it suspects violates any law or regulation to appropriate law enforcement officials, regulators, or other relevant third parties. EIVEY will cooperate to ensure that violators are prosecuted to the fullest extent of the law.

10.4 Making Adjustments. You authorize us to withhold payment or charge your account any amount you owe us if (a) a sale is cancelled for any reason (b) we reasonably believe that you have committed fraud or other illegal act or omission during any buying or selling activity; (c) you are not able to produce the exact product(s) that you listed on the Site; (d) you delivered incorrect or misrepresented product(s) for any order or portion of an order; (e) you fail to ship the product(s) by the expected ship date without notifying EIVEY in advance or (f) you otherwise owe us a specific amount. If any of these things happen, we may also deduct from any amount we owe you the amount you owe us.



11. Your warranties to us.

11.1 Accurate Descriptions. For all products you list as the Seller, you warrant that your descriptions of the products are accurately detailed and described. If you, at any time deliver invalid, fraudulent, or misrepresented products, EIVEY reserves the right to cancel the order .

11.2 Other Information. You represent and warrant that any information you provide to us, to other users, or to visitors (a) is not false, inaccurate, misleading, obscene or defamatory; (b) is not fraudulent; (c) does not involve the sale of counterfeit or stolen items; (d) does not infringe any third party’s copyright, patent, trademark, trade secret, rights of publicity or privacy or other right; (e) does not violate any law, statute, ordinance or regulation, including without limitation those governing consumer protection, unfair competition, anti-discrimination or false advertising; and (f) does not contain any viruses or any programming that is intended to damage, interfere with, intercept or expropriate any system, data or personal information.

11.3 Laws and Regulations. You warrant that you will comply with all applicable local, federal and international laws, statutes and regulations regarding use of the Site and selling value of the product(s).

11.4 Indemnity. You agree to indemnify and hold EIVEY and (if applicable) any parent, subsidiaries, affiliates, officers, directors, attorneys, agents and employees, harmless against any claim or demand and all liabilities, costs and expenses (including reasonable attorney’s fees) incurred by EIVEY and (if applicable) any parents, subsidiaries, affiliates, officers, directors, agents, attorneys and employees that arise out of any claim asserted by a third party that involves, relates to or concerns any of your actions or omissions on this Site, including but not limited to your breach of this Agreement, or your violation of any law or the rights of a third party.



12. What we do not warrant (disclaimers of warranties and limitations of liability).

12.1 No Warranty. Except for the express warranties stated in this Agreement, EIVEY provides the software, site and services on an “as is” basis and “as available” basis without any warranties of any kind. EIVEY makes no warranty with respect to its software, any product(s), the services EIVEY provides, or that sellers or buyers will perform as promised, and EIVEY expressly disclaims all such warranties, whether express, statutory or implied, including without limitation any warranties of merchantability, title, non-infringement of third party rights or fitness for a particular purpose. This warranty disclaimer affects your legal rights, and you may also have other rights.

12.2 Waiver of Consequential Damages; Liability Limit. EIVEY expressly disclaims any responsibility for any lost profits or special, consequential, incidental, or exemplary damages (including without limitation indirect and special damages) that may result from the services or the site, or the suspension, termination or malfunction of the services or the site. EIVEY liability to you or anyone else in any circumstances is limited to the lesser of (a) $100.00, and (b) the total dollar amount of all products(s) and other items you bought and/or sold via EIVEY in the 12 months prior to the action allegedly giving rise to liability. Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above exclusions or limitations may not apply to you.

12.3 Allocations of Risk. You acknowledge and agree that the foregoing disclaimers and limitations of liability represent bargained for allocations of risk, and that the pricing and other terms and conditions of this agreement reflect such allocations of risk.

12.4 Tax Indemnity. You agree that EIVEY is not responsible in any way for the accuracy or suitability of any payment of taxes to any entity on your behalf. You shall indemnify and hold EIVEY and (if applicable) any parents, subsidiaries, affiliates, officers, directors, agents and employees harmless against all liabilities, costs, interest and expenses (including reasonable attorney’s fees) incurred by EIVEY that arise out of third party or governmental claim that involves, relates to or concerns (i) and federal tax obligation or amounts due or owing under any tax regulation, law, order or decree or (ii) any dispute concerning the tax status of EIVEY.

12.5 Change or Suspension of Site. EIVEY reserves the right at any time to modify or discontinue, temporarily or permanently, the Site or any part of the Site with or without notice. You agree that we shall not be liable to you or any third party for any modification, suspension or discontinuance of the Site or any Services under this Agreement, for any reason. We do not guarantee continuous, uninterrupted or secure access to our service, and operation of our Site may be interfered with by numerous factors outside of our control. EIVEY is never, for any reason, responsible for products(s) listed on the site that do not sell, including products(s) that remain unsold during a site outage.

12.6 Regular Maintenance. The Site could be unavailable from 12am-3am EST time each morning while it is being updated and modified. During this time, the Site will be temporarily unavailable. The EIVEY Site is updated daily. When a Seller lists products for sale on the site, the listing may not be available for purchase until the next regularly scheduled site update. EIVEY is not responsible for unsold products(s) resulting from these regular site updates.



13. We own the intellectual property rights to our Site and Service.

13.1 Ownership of Intellectual Property. You acknowledge and agree that (i) our patents, trademarks, trade names, service marks, copyrights and other intellectual property (collectively, “Intellectual Property”) are and shall remain our sole property, and (ii) nothing in this agreement shall confer in you and right of ownership or license rights in our Intellectual Property. In addition, you shall not now nor in the future contest the validity of EIVEY Intellectual Property.

13.2 It is EIVEY’s  policy is to investigate any allegations of intellectual property infringement brought to its attention. If you have evidence, know, or have a good faith belief that your rights or the rights of a third party have been violated and you want EIVEY to delete, edit, or disable the material in question, please provide EIVEY the following information:
A physical or electronic signature of a person authorized to act on behalf of the owner of the exclusive right that is allegedly infringed;
Identification of the copyrighted work, trademark, patent, or other intellectual property that you claim has been infringed;
Description of where the material that you claim is infringing is located on the Site;
Your address, telephone number, and email address;
A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright, trademark, patent, or intellectual property owner, its agent or the law;
A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright, trademark, or intellectual property owner or authorized to act on the copyright, trademark or intellectual property owner’s behalf.



14. Additional terms that affect our agreement.

14.1 No Agency. You and EIVEY are independent contractors, and no agency, partnership, joint venture, employer-employee or franchisor-franchisee relationship is intended or created by this Agreement.

14.2 Notices. Except as expressly stated otherwise, all notices to EIVEY shall be sent to the email addresses provided on the Site (e.g. info@EIVEY.ca). Except as expressly stated otherwise, all notices to you shall be sent to the email address you provided to us during the registration process. Such notices shall be deemed given one business day after the email is sent.

14.3 Governing Law; Arbitration. This Agreement shall be governed by and interpreted in accordance with the laws of the Province of Ontario, Canada, without regard to its provisions governing conflicts of law. Except for allegations that you have infringed or have threatened to infringe our intellectual property rights, you and we agree that any dispute or controversy between us, or arising under or concerning performance or breach of this Agreement, shall be settled by on arbitrator in binding arbitration, to be held in Hamilton, Ontario, Canada. Judgment on the arbitration award may be entered in any court of competent jurisdiction. If we allege that you have infringed or threatened to infringe our intellectual property rights, then, in addition to any other rights and remedies we may have, we may seek any preliminary or permanent injunctive relief from any court of competent jurisdiction. For such actions, you consent to the exclusive personal jurisdiction and venue of the federal and provincial courts in and for Hamilton, Ontario, Canada.

14.4 Miscellaneous. This Agreement (and all documents incorporated by reference) constitutes the entire agreement between the parties pertaining to the subject matter hereof and supersedes all prior agreements and understandings between the parties hereto with respect to the subject matter hereof, whether written or oral. No amendment, modification or supplement of any provision of this Agreement will be valid or effective unless made in accordance with the express terms of this Agreement. If any provision of this Agreement is held to be invalid or unenforceable under any circumstances, its application. In any other circumstances and the remaining provisions of this Agreement shall not be affected. You may not assign or transfer this Agreement, or any of its rights or obligations, without the prior written consent of EIVEY, which we can refuse in our sole discretion. Nothing in this Agreement is intended to confer benefits, rights or remedies unto any person or entity other than the parties hereto and their successors and permitted assigns. Our suppliers and co-brand partners are third-party beneficiaries of this Agreement. The subject heading at the beginning of each paragraph of this Agreement is for reference purposes only and in no way defines, limits, construes or describes the scope or extent of such paragraph.
