%label.input{for: "listing_image"}
  Image
  %span.tooltip
    %i.fa.fa-question-circle{"aria-hidden" => "true"}
    %span.tooltip-content
      %span.text-bold
        Things to consider
      %br/
      %br/
      %span.text-bold
        1) Well Styled
      &ndash; look online to see how the product you are selling is positioned for the photo examples
      %br/
      %br/
      %span.text-bold
        2) Laser Focused
      &ndash; Your photo shows the texture and details of the item.
      %br/
      %br/
      %span.text-bold
        3) Great Lighting and Contrast
      &ndash; Natural light best captures your item. Make edges clean and clear with no dark shadows
      %br/
      %br/
      %span.text-bold
        4) Show the WHOLE Item
      &ndash; Your primary photo should show the entire item to give potential buyers an exciting—and accurate—preview of exactly what they're buying.
      %br/
      %br/
      %span.text-bold
        5) Plain or white background

= render partial: "layouts/info_text", locals: { text: t("listings.form.images.best_result", width: 660, height: 440) }


.flash-notifications.js-listing-image-loading.hidden
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => icon_class("loading")}
    .flash-text
      = t("listings.form.images.image_uploading_in_progress")

.flash-notifications.js-listing-image-loading-done.hidden
  .flash-notification{:class => "flash-notice"}
    .flash-icon{:class => icon_class("check")}
    .flash-text
      = t("listings.form.images.processing_takes_a_while")

.listing-images#image-uploader-container
  %script{type: "text/template", class: "template", id: "new-image-tmpl"}
    #fileupload.fileinput-button.upload-image-placeholder
      .fileupload-text-container
        .fileupload-centered-text
          .fileupload-text
          .fileupload-small-text
          .fileupload-error-text
      %input.fileupload{type: "file", multiple: "multiple"}
      %img.fileupload-preview-image
      .fileupload-preview-remove-image
        = icon_tag("cross", ["icon-fix"])
      %input.listing-image-id{type: "hidden", name: "listing_images[][id]"}
